* {
  box-sizing: border-box;
  font-family: "Book Antiqua", sans-serif;
  color: whitesmoke;
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
